*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cairo', sans-serif;
    width: 100%;
    height: 100vh;
}

.card .card-body{
    height: 70vh;
    
    
}

.imges{
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.imges img{
    width: 60px;

}

.answer:focus{
    outline: none;
    border: none;
    box-shadow: none;

}
