* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  width: 100%;
  height: 100vh;
}

.card .card-body {
  height: 70vh;
}

.imges {
  width: 50%;
  height: 10vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.imges img {
  width: 140px;
  margin: 0 5px;
}

.imges3 img {
  width: 90px;
  margin: 0 5px;
}

.answer:focus {
  border: 1px solid #212529;
  box-shadow: none;
}

.hard:hover {
  cursor: auto;
}

.card {
  position: relative;
}
.card .counter {
  position: absolute;
  content: "";
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
}

.mid {
  background-color: #284a76d5;
}

.card {
  background-color: #d4d9dfc0;
}

button i {
  margin: 0 5px;
}
.txt2 {
  line-height: 8px;
}
